*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#box1{
    border: 1px solid black;
    width: 80%;
    margin: auto;
}
#box1>h1{
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#box2{
    border: 1px solid black;
    width: 65%;
    margin: auto;
}
#box2>h1{
    font-size: 30px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#para1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* --------------------------------------------------------- */
#magicBox{
    border: 1px solid dodgerblue;
    width: 80%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.tab{
    border: 1px solid blue;
    width: 10%;
    height: 100%;
}
.tab>div:first-child{
    border: 1px solid green;
    width: 100%;

}
.tab>div:last-child{
    border: 1px solid salmon;
}
#magicGround{
    border: 1px solid slateblue;
    width: 80%;
    height: 400px;
    margin: auto;
}
#emailBox{
    width: 40%;
    height: 80px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(228,243,255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
#emailBox>div{
    
    width: 95%;
    height: 80%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#emailBox>div>input{
    width: 65%;
    height: 50%;
    margin-left: 20px;
    /* -----------------------------NOT WORKING */
    border: none;
    font-size: large;
}
#emailBox>div>button{
    width: 28%;
    height: 80%;
    background-color: rgb(1,167,250);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: large;
}
#tags{
    /* border: 1px solid blue; */
    width: 43%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tags>div:first-child{
    /* border: 1px solid slategrey; */
    width: 25%;
    height: 100%;
    display: flex;
}
#tags>div:nth-child(2){
    /* border: 1px solid slategrey; */
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#tags>div:last-child{
    /* border: 1px solid slategrey; */
    width: 30%;
    height: 100%;
    display: flex;
}
#tags>div>i{
    font-size: 24px;
    margin-right: 5px;
}
#tags>div>div:last-child{
    /* border: 1px solid purple; */
    width: 88%;
    height: 100%;
    display: flex;
}
#tags>div>p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* ---------------NEWS TIME--------------- */
#news{
    /* border: 1px solid red; */
    width: 74%;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#news>div{
    /* border: 1px dotted black; */
    width: 25%;
    height: 100%;
}
#news>div>div:first-child{
    /* border: 1px solid violet; */
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#news>div>div:last-child{
    /* border: 1px solid slategray; */
    width: 100%;
    height: 50%;
}
#news>div>div:last-child>p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 16px;
}
/* ------some good snimation here------- */
#anim{
    /* border: 1px solid blue; */
    width: 90%;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
}
#anim>div:first-child{
    /* border: 1px solid green; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#anim>div:first-child>img{
    /* border: 3px solid whitesmoke; */
    border-radius: 15px;
}
#anim>div:last-child{
    /* border: 1px solid green; */
    width: 40%;
    height: 60%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    
}
#anim>div:last-child>h1{
    font-size: 50px;
}
#anim>div:last-child>p{
    margin-bottom: 50px;
}
#anim>div:last-child>span{
    border: 2px solid rgb(155,177,205);
    padding: 2.8% 4%;
    font-size: 20px;
    font-weight: bolder;
    background-color: white;
    color: rgb(155,177,205);
}

#anim{
    margin-top: 8%;
}
#inner img{
    transition: all 0.1s ease;
}
#inner:hover img{
    transform: scale(1.1);
}

/* --------------random posts--------- */
#post1{
    /* border: 1px solid black; */
    width: 95%;
    height: 400px;
    margin: auto auto auto auto;
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
}
#post1>div:first-child{
    /* border: 1px solid blue; */
    width: 45%;
    height: 140%;
    margin-top: -70px;
}
#post1>div:first-child>img{
    width: 100%;
}
#post1>div:last-child{
    /* border: 1px solid green; */
    width: 53%;
    height: 100%;
    margin-left: 20px;
}
#post1>div:last-child>h1{
    font-size: 50px;
}
#post1>div:last-child>p{
    font-size: 19px;
}
#post1>div:last-child>div{
    display: flex;
    width: 65%;
    height: 60px;
    margin-top: 40px;
    justify-content: space-between;
}
#post1>div:last-child>div>div:first-child{
    width: 35%;
    height: 100%;
}
#post1>div:last-child>div>div:nth-child(2){
    width: 12%;
    height: 100%;
}
#post1>div:last-child>div>div:last-child{
    width: 25%;
    height: 100%;
}
#post1>div:last-child>div>div>img{
    width: 100%;
    height: 100%;
}
/* ---------beautiful ending--------- */
#end{
    border: 1px solid blueviolet;
    width: 100%;
    height: 600px;
    margin-top: 200px;
}