*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    overflow: hidden;
    background-color: #03293c;
}

.logo{
    float: left;
    padding: 2px;
}

nav ul{
    float: right;
    margin: 10px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 40px;
}

nav ul li a{
    color:white;
    text-decoration: none;
}

nav>ul>li>a:hover{
color: rgba(90, 90, 221, 0.977);
transition:  .3s;
cursor: pointer;
}

button{
    border: none;
    background-color:#00abfd;
    padding: 13px;
    border-radius: 12px;
    color: white;
    font-size: 15px;
    transition:  .4s;
}
button:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transform: scale(1.1);
    cursor: pointer;
}

/* mind mapping */

.box{
    /* top: 50%;
    left: 50%; */
    margin: auto;
    margin-top: 52px;
    margin-bottom: 40px;
    display: flex;
    padding: 30px 40px;
    width: 60%;
    border-radius: 12px;
    border: 1px solid #3bb8f3;
    background-color: #ecf9ff;
}
.imgbox{
    margin-top: 20px;
}
.text_content{
    margin-left: 52px;
    margin-right: 22px;
}
.text_content h2{
    margin-bottom: 22px;
    font-size: 26px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.726);
}
.text_content p{
    width: 90%;
    font-size:19px;
    color: gray;
    line-height: 30px;
}
.text_content p >a{
    color:#007aff;
    text-decoration: none;
}
.text_content p >a:hover{
    color: #4496edd5;
    cursor: pointer;
}

/* mindmapimg */

.mindmapimg{
    margin-top: 2px;
    background-color: #03293c;
}