 
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
 #frontimg{
   
  background-image: url("https://i.pinimg.com/736x/0e/58/17/0e5817b2f5a8e955103255569de24896.jpg");
  padding: 15px;
  display: flex;
 gap: 120px;
  text-align: center;
}
 #frontimg>img{
    width: 30%;
 }
 #imgname>h1{
    margin-top: 30px;
    font-size: 80px;
   color: white;
   font-family: 'open sans','sans serif';
 }
 #imgname>h2{
  margin-top: 30px;
    font-size: 30px;
   color: white;
 }

 #mainbox{
    width: 75%;
    margin: auto;
    margin-top: 30px;
   
    display: flex;
    gap: 15px;
    padding: 10px;
 }
 #box1{
    text-align: center;
    width: 48%;
    
 }
 #text>h1{
    font-size: 35px;
    font-family: sans-serif,open;
    color: gray;
   text-align: left;
 } 
   #text>p{
    margin-top: 20px;
    font-size: 18px;
    font-family: cursive;
    color: gray;
    line-height: 25px;
    text-align: left;
   
   }
   #box1 img{
    width: 96%;
   }

 #box2{
    width: 48%;
   
    text-align: center;
 }
  #box2 img{
    width: 76%;
  }
 #box2>#text+img{
    margin-top: 20px;
 }
   #box2>img+p{
    margin-top: 8px;
    font-size: 18px;
    font-family: open,sans-serif;
    color: gray;
    margin-bottom: 30px;
   }
   #referbtn{
  margin-top: 20px;
  text-align: left;
   }
   #referbtn>h2{
    text-align: left;
    font-size: 18px;
    font-family: open,sans-serif;
    margin-bottom: 20px;
   }
   #referbtn>a{
   
   margin-left: 30px;
   font-size: 30px;
   font-weight: bold;
   text-decoration: none;
   }
   #referbtn>a:hover{
    color: cadetblue;
   }


   #mainvediobox{
   
    width: 70%;
    margin: auto;
    margin-top: 70px;
   margin-bottom: 30px;
   display: flex;
   gap: 25px;
  
   padding: 15px;
   }
  #playvedio{
    width: 31%;
   
   }
   #playvedio>iframe{
    width: 100%;
    height: 80%;
   }
   #playvedio>iframe:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    }
   #playvedio>h2{
    font-size: 16px;
    font-family: open,sans-serif;
    color: gray;
    margin-top: 20px;
    text-align: center;
   }


   #thought{
    text-align: center;
    margin-top: 30px;
   }
   #thought>h1{
    margin-top: 30px;
    font-size: 35px;
    font-family: open,sans-serif;
    color: gray;
    margin-bottom: 20px;
   }

   #posterdiv{
    padding: 20px 0px;
    margin-top: 40px;
    display: flex;
    gap: 3px;
    width: 100%;
    background-color: #042949;
   
   }
   #posterdiv>div{
    width: 14%;
   }
   #posterdiv>div>img{
    width: 98%;
   }

   #past{
    text-align: center;
    margin-top: 30px;
    text-align: center;
   }
   #past>h1{
    font-size: 35px;
    font-family: open,sans-serif;
    color: gray;
   }
   #past>p{
    font-size: 18px;
    font-family: open sans,sans-serif;
    margin-top: 30px;
    color: gray;
   }

   #boldtextdiv{
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
   
   }
   li{
    font-size: 16px;
    font-family: open sans-serif;
    color: gray;
    margin-bottom: 12px;
   }

   #lowerimgbox{
    width: 70%;
    margin: auto;
    display: flex;
    gap: 20px;
    margin-top: 30px;
   margin-bottom: 20px;
   }
   #lowerimgbox>div{
    width: 31%;
   }
   #lowerimgbox>div{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   }
   #lowerimgbox>div>img{
    width: 98%;
   }
   #lowerimgbox>div>p{
    color: gray;
    margin-top: 15px;
   font-size: 16px;
    font-family: open sans,sans-serif;
   }

   #contactform{
    width: 45%;
    margin: auto;
    margin-top: 60px;
    padding: 40px 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   }
   #contactform>h1{
    margin-bottom: 30px;
   }
   #contactform>label{
    font-size: 20px;
    color: gray;
   }
  input{
   width: 60%;
   height: 30px;
    margin-bottom: 30px;
    padding: 5px;
  }
  #msg{
    width: 90%;
    height: 300px;
    vertical-align:top;
    text-align: left;
    
    padding:  0.4em;
    margin-bottom: 30px;
  }
  #submit{
  width: 20%;
 padding: 10px 20px;
 background-color: green;
 color: white;
  font-size: 20px;
  border-radius: 10px;
 
  }
  #submit:hover{
    background-color: lightgreen;
    color: red;
  }
  #btnandbfr{
    display: flex;
  }
  #bfr{
    width: 15%;
   
    padding: 5px;
  }
  #bfr>img{
    width: 98%;
  }
  #submittext{
   
    margin-top: 15px;
    padding: 10px;
  }
  #txtbox{
    border: 1px solid greenyellow;
    padding: 10px;
  }
 

  #forbes{
    margin: auto;
    margin-top: 100px;
    width: 70%;
    padding: 20px;
   display: flex;
   align-items: center;
   gap: 50px;
   margin-bottom: 20px;

  }
  #forbes p{
    font-family: cursive;
    color: gray;
  }
  #forbes h1{
    margin-top: 30px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  #forbes>img{
    width: 30%;
  }