*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "open Sans"; */
    font-family: cursive;
}

/* Section - 1 */

nav{
    width: 100%;
    overflow: hidden;
    background-color: #03293c;
}

.logo{
    float: left;
    padding: 2px;
}

nav ul{
    float: right;
    margin: 10px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 40px;
}

nav ul li a{
    color:white;
    text-decoration: none;
}

nav>ul>li>a:hover{
color: #00abfd;
transition:  .3s;
cursor: pointer;
}

nav>ul>li>button{
    border: none;
    background-color:#00abfd;
    padding: 13px 43px;
    border-radius: 25px;
    color: white;
    font-size: 17px;
    transition:  .4s;
}
nav>ul>li>button:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transform: scale(1.2);
    cursor: pointer;
}


.dropdown-menu{
    display: none;
    position: absolute; 
    border: 1px solid #00abfd;
    background-color: #02344c;
    padding: 22px 32px;
    min-width: 200px;z-index: 1;
    border-radius: 11px;
    margin-left: -22px;
    margin-top: 12px;
}

.dropdown-menu a:hover{
    color: #00abfd;
}
.right-menu:hover .dropdown-menu{
display: flex;
flex-direction: column-reverse;
gap: 12px;
}


/* section-2*/


#banner-Whats-in-mind{
    margin-top: 1px;
    /* width: 100%; */
    background-color:#02344c;
}

.main-fluid{
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
}
.main-fluid h1{
    font-size: 44px;
    width: 18%;
    margin-top: 72px;
    /* margin-left: 20%; */
    font-weight: 200;
    color: white;
}

.main-fluid h1 strong{
    color:#00a9fd;
}
.main-fluid p{
    font-size: 21px;
    width: 44%;
    font-weight: 100;
    margin-top: 52px;
    color: white;
    margin-left: 40px;
    line-height: 35px;
}
.banner-img{
   text-align: center;
}
#banner-p-tag{
    text-align: center;
    color: white;
    font-size: 22px;
    margin-top: 22px;
    margin-bottom:-32px;
    font-weight: 100;
}

form{
    /* display: flex; */
    text-align: center;
    padding: 72px;
}
form input{
    font-size: 17px;
    padding: 12px 12px 12px 12px;
    border-radius: 12px;
    border: 1px solid #3bb8f3;
}

form button{
    border: none;
    background-color:#00abfd;
    padding: 13px;
    border-radius: 11px;
    color: white;
    border: 2px solid white;
    font-size: 17px;
    transition: .3s;
    margin-left: -4px;
}
form button:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    /* border: 1px solid white; */
    transform: scale(1.1);
    cursor: pointer;
}


/* section 3*/


.box{
    margin: auto;
    margin-top: 32px;
    margin-bottom: 40px;
    display: flex;
    padding: 30px 40px;
    width: 60%;
    border-radius: 12px;
    border: 1px solid #3bb8f3;
    background-color: #ecf9ff;
}
.imgbox{
    margin-top: 20px;
}
.text_content{
    margin-left: 52px;
    margin-right: 22px;
}
.text_content h2{
    margin-bottom: 22px;
    font-size: 26px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.726);
}
.text_content p{
    width: 90%;
    font-size:19px;
    color: gray;
    line-height: 30px;
}
.text_content p >a{
    color:#007aff;
    text-decoration: none;
}
.text_content p >a:hover{
    color: #4496edd5;
    cursor: pointer;
}

/* mind map section -4 */

#head-mind-map h1 {
    font-size: 50px;
    text-align: center;
}

#head-mind-map p{
    width: 51%;
    font-size: 22px;
    margin: auto;
    margin-top: 22px;
    color: gray;
    text-align: center;
}

.Top-mind-box{
    width: 60%;
    margin: auto;
    margin-top: 52px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 15px;
}

.Top-mind-box>div{
    margin: auto;
    text-align: center;
    color: gray;
    width: 79%;
    font-size: 19px;
}
.Top-mind-box>div>h4{
    margin-top: 22px;
}
.looking-mind-map-template{
    margin-top: 53px;
    margin-bottom: -33px;
    font-size: 22px;
    text-align: center;
    color: gray;
}


/* section-5 */


.Who-heading{
    text-align: center;
}
.Who-heading h1{
    font-size: 50px;
}

.Who-heading p{
    width: 50%;
    margin: auto;
    color: gray;
    font-size: 22px;
    line-height: 30px;
}

.Who-mind-box{
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 15px;
    margin: auto;
    margin-top: 53px;
}

.Who-mind-box>div{
    text-align: center;
    border-radius: 11px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.Who-mind-box>div>img{
    width: 100%;
    border-radius: 11px 11px 0px 0px;
}
.Who-mind-box>div>p{
    font-size: 24px;
    color: gray;
    width: 82%;
    margin: auto;
    margin-top: 15px;
    padding-bottom: 30%;
}

/* section 6 */

.Mind-gallery-box{
    background-color: #002B3e;
}
.gallery-header{
    text-align: center;
    color: white;
}
.gallery-header h1{
    font-size: 50px;
    padding: 80px 0px;
}
.gallery-header p{
    width: 51%;
    margin: auto;
    margin-top: -44px;
    font-size: 20px;
    line-height: 30px;
}

.gallery-header p>a{
    color:#00abfd;
    text-decoration: none;
}

.gallery-img-box{
    display: grid;
    width: 69%;
    margin: auto;
    margin-top: 54px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 25px;
}

.gallery-img-box>div{
    align-items: center;
    margin-top: 23px;
}
.gallery-img-box>div>img{
    width: 100%;
}